@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply mx-auto w-full px-[15px] lg:max-w-[1024px] xl:max-w-[1200px];
}

* {
	@apply m-0 p-0 box-border;
}

.platform::before {
	content: '';
	position: relative;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #25252b;
	left: 255px;
	bottom: 32px;
}

.tusok::before {
	content: '';
	position: relative;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid #fafafa;
	right: 11px;
}

.tns-controls {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 20rem;
}

.tns-controls button {
	font-size: 30px;
	color: #777;
}

@media (min-width: 768px) {
	.tns-controls {
		display: flex;
		justify-content: space-between;
		position: relative;
		top: 12rem;
	}
}

@media (min-width: 1024px) {
	.platform::before {
		content: '';
		position: relative;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid #25252b;
		left: 227px;
		bottom: 32px;
	}

	.tns-controls {
		display: flex;
		justify-content: space-between;
		position: relative;
		top: 6rem;
	}
}

@layer components {
	.header__nav {
		@apply bg-bg-1 w-screen h-[340px] absolute bottom-52 left-0 ease-in duration-300 overflow-y-scroll lg:w-auto lg:h-auto lg:static lg:overflow-y-hidden;
	}

	.header__nav.open {
		@apply top-full;
	}

	.chevron__down {
		@apply bg-white text-black text-[13px] border-2  border-[#0066b8] w-[350px] h-[220px] absolute bottom-full left-[49px] z-50 md:left-[223px] lg:left-[45px] xl:left-[340px];
	}

	.chevron__down.open {
		@apply top-[354px] md:top-[331px] lg:top-[407px] xl:top-[359px];
	}

	.use__item {
		padding: 60px 15px;
		padding-right: 15px;

		.use__content img {
			width: 60%;
			display: block;
			margin: auto;
			vertical-align: middle;
		}

		.use__content h2 {
			font-size: 19px;
			font-weight: 100;
		}

		.use__content p {
			font-size: 15px;
			line-height: 32px;
		}

		.use__text {
			display: flex;
			flex-direction: column;
			gap: 32px;
			margin-top: 20px;
		}

		.use__text a {
			color: #0098ff;
		}
	}

	.use__item:nth-child(odd) {
		background-color: #ffffff;
	}

	.use__item:nth-child(even) {
		background-color: #f5f5f5;
	}

	@media (min-width: 768px) {
		.use__content {
			margin: auto;
			width: 768px;
		}

		.use__item:nth-child(odd) img {
			float: left;
			width: 200px;
			margin-right: 80px;
		}

		.use__item:nth-child(even) img {
			float: right;
			width: 200px;
			margin-left: 70px;
			margin-right: 30px;
		}

		.use__content h2 {
			font-size: 30px !important;
		}

		.use__text {
			width: 460px;
		}
	}

	@media (min-width: 1024px) {
		.use__item {
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 80px;
			padding-bottom: 120px;
		}

		.use__content {
			width: 1024px;
		}

		.use__item:nth-child(odd) img {
			float: left;
			width: 300px;
			margin-right: 80px;
		}

		.use__item:nth-child(even) img {
			float: right;
			width: 300px;
			margin-left: 70px;
			margin-right: 30px;
		}

		.use__text {
			width: 600px;
		}
	}

	@media (min-width: 1200px) {
		.use__content {
			width: 1200px;
		}

		.use__item:nth-child(odd) img {
			float: left;
			width: 350px;
			margin-right: 80px;
		}

		.use__item:nth-child(even) img {
			float: right;
			width: 350px;
			margin-left: 50px;
			margin-right: 40px;
		}

		.use__text {
			width: 750px;
		}
	}
}
